:root {
  --primary: #fede67;
  --primary-light: #fffbe0;
  --primary-dark: #fad235;
  --secondary: #232830;
  --black: #000000;
  --white: #ffffff;

  --spacing: 1rem;
}

body {
  background-color: var(--primary);
  color: var(--black);
  margin: 0;
  padding: var(--spacing);
}

body main {
  max-width: 1400px;
  margin: auto;
}
